*~
*#
test*
package.json~
tsconfig.json~
node_modules/
package-lock.json
bin/local_scripts
data
local_data
src/node/repl_dev.ts
src/node/arpa/backtesting/dev.ts
todo
builds/node/lib
builds/node/src/node
builds/node/src/common